html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(255, 255, 255);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: auto;
}

header {
  width: 100%;
  text-align: center;
  background-color: #00bcd4;
  color: white;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  margin-bottom: 20px;
}

h1 {
  margin-bottom: 20px;
}

#choose {
  margin-bottom: 20px;
}

button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #00bcd4;
  color: aliceblue;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0097a7;
}

table {
  border-collapse:collapse ;
  margin-bottom: 10px ;
}

td {
  width: 100px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  font-size: 2.5rem;
  border: 4px solid black;
  cursor: pointer;
}

#modal.hidden { display: none; }

#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#modal-content {
  background: white;
  color: black;
  padding: 30px 50px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

#modal-content button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #00bcd4;
  color: aliceblue;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#modal-content button:hover {
  background-color: #0097a7;
}
